{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/age_verification_modal.css' %}">
{% endblock %}

{% block content %}
    <!-- Intro Banner -->
    <div class="container-fluid index-header pb-5 pb-sm-0">
        <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-12 col-md-6 d-flex justify-content-center mb-3 mb-md-0">
                <img src="{% static 'images/1,5.png' %}" alt="Hands holding two wine glasses"
                    class="img-fluid header-index-image">
            </div>
    
            <!-- Text Section -->
            <div class="col-12 col-md-6 text-center d-flex flex-column justify-content-center index-header-text">
                <h1 class="logo">SILVER SANDS <br> ESTATE</h1>
                <h4>Crafted by Nature, Perfected in <br> McLaren Vale – Wine for Every Moment</h4>
                <a href="{{ product_list_url }}" class="index-header-btn btn btn-primary mt-3"
                    aria-label="Shop for premium wines at Silver Sands Estate">
                    Shop Our Premium Wines
                </a>
            </div>
        </div>
    </div>
    
    <!-- Why choose us section  -->
    <div class="container-fluid wine-banner  mt-lg-5 mt-md-5">
        <div class="row align-items-center flex-column flex-md-row">
            <!-- Text Section -->
            <div class="col-md-6 text-center text-md-start">
                <div class="banner-text-box wine-text">
                    <h2><strong>Why Choose Silver Sands?</strong></h2>
                    <p>Nestled in the heart of McLaren Vale, one of Australia’s most renowned wine regions, 
                        Silver Sands Estate offers a unique blend of premium winemaking and stunning coastal charm. 
                        Our proximity to the beautiful Silver Sands beach and the warm Mediterranean climate 
                        of McLaren Vale create ideal conditions for producing rich, vibrant wines that capture 
                        the essence of this extraordinary location.
                    </p>               
                    <a href="{{ product_list_url }}" class="btn btn-primary"
                        aria-label="Button to see all Silver Sands exclusive wines">
                        Explore Our Exclusive Wines
                    </a>
                </div>
            </div>

            <!-- Image Section -->
            <div class="col-md-6 text-center mt-3 mt-md-0">
                <picture>
                    <img src="{% static 'images/home_img_4.jpg' %}"
                    alt="A woman in a vineyard picking grapes at Silver Sands Estate"
                    class="banner-image img-fluid">
                </picture>
            </div>
        </div>
    </div>

    <!-- Host your event with us section  -->
    <div class="container-fluid wine-banner mt-lg-5 mt-md-5 mb-5">
        <div class="row align-items-center flex-column-reverse flex-md-row">
            <!-- Image Section -->
            <div class="col-md-6 text-center mt-3 mt-md-0">
                <picture>
                    <img src="{% static 'images/home_img_2.jpg' %}" alt="Red wine glasses clinking in a toast" 
                        class="banner-image img-fluid">
                </picture>
            </div>
            <!-- Text Section -->
            <div class="col-md-6 text-center text-md-start">
                <div class="banner-text-box wine-text">
                    <h2><strong>Host your next event with us</strong></h2>
                    <p>Looking for the perfect venue to host your next celebration? At Silver Sands Estate, 
                        our stunning vineyard and cellar offer a breath taking backdrop for weddings, 
                        corporate gatherings, and private events. Surrounded by rolling vines and rustic elegance, 
                        your guests will enjoy a truly unforgettable experience. Whether it's an intimate gathering
                        or a grand affair, our team will work with you to create the perfect atmosphere, 
                        complete with fine wines and personalized touches.
                    </p>               
                    <a href="{{ visit_us_url }}" class="btn btn-primary" 
                        aria-label="Contact Silver Sands Estate for event details">
                        Get in touch
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="age-modal" class="modal">
        <div class="modal-content">
            <h2>Age Verification</h2>
            <p>You must be 18 years or older to enter this site. Please confirm your age.</p>
            <button id="confirm-age" class="btn btn-primary" aria-label="Confirm age of 18 or older">
                I am 18 or older
            </button>
            <button id="exit-site" class="btn btn-danger" aria-label="Exit the site due to being under 18">
                I am under 18
            </button>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'home/js/age_verification.js' %}"></script>
{% endblock%}
