{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5 mb-5">
            <div class="form-container p-4">
                <h3 class="text-center">{% trans "Sign Out" %}</h3>

                <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

                <form id="logout-form" method="post" action="{% url 'account_logout' %}" class="text-center">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary" type="button" id="logout-button">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('logout-button').addEventListener('click', function() {
        // Submit the logout form
        document.getElementById('logout-form').submit();
        
        // Redirect after a timeout
        setTimeout(function() {
            window.location.href = "{% url 'home' %}";
        }, 3000); // 3000 ms = 3 seconds
    });
</script>

{% endblock content %}
