{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-3">
            <div class="form-container p-4">
                <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                    </p>
                {% else %}
                    <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                        {% csrf_token %}
                        
                        {% for field in form %}
                            <div class="form-group mb-3">
                                <label class="d-block" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                
                                <!-- Help text (if available) -->
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                
                                <!-- Error messages (if any) -->
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button class="btn btn-primary" type="submit">{% trans 'Change Password' %}</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
