{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-3">
            <div class="form-container p-4">
                <h3>{% trans "Change Password" %}</h3>

                <p>{% trans 'Your password has been changed successfully. You can now log in with your new password.' %}</p>

                <form method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <label for="id_old_password" class="d-block">{% trans "Old Password" %}</label>
                        <input type="password" class="form-control" id="id_old_password" name="old_password" required>
                        <!-- Help text (if available) -->
                        <small class="form-text text-muted">{% trans "Enter your current password." %}</small>
                    </div>

    
